@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #ffd000;
  --lightGreyColor: #f6f6f6;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-poppins: var(--font-poppins);
  --primary: var(--primary);
  --lightGreyColor: var(--lightGreyColor);

}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary: #ffd000;
    --lightGreyColor:#f6f6f6;
  }
} */


body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins) !important;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0 5%;
}

h1 {
  font-size: 2.7rem;
  font-weight: 700;
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
}


h4 {
  font-size: 1.1rem;
  font-weight: bold;
}

h3 {
  font-size: 1.2rem;
}

.navbar li {
  font-size: .9rem;
}

.faqclass p {
  font-size: 1.2rem;
  line-height: 1.5;
}

input {
  width: 100%;
  padding: 4px 11px;
  line-height: 1.5;
  font-size: 14px;
  border: solid 1px #d9d9d9;
  border-radius: 16px;
}

input:hover {
  border: solid 1px var(--primary);
  outline-style: none;
  box-shadow: none;
}

input:focus {
  outline-style: none;
  box-shadow: none;
  border: solid 1px var(--primary);
}

::placeholder {
  color: #d9d9d9;
}

.packageSection p {
  font-size: 1rem !important;
}


/* Change the background color of the active slide */
.swiper-slide-active {
  /* background-color: #ff0000;  */
  /* Replace #ff0000 with your desired color */
}

/* Change the color of the navigation arrows */
.swiper-button-next,
.swiper-button-prev {
  color: #000000 !important;
  /* Replace #00ff00 with your desired color */
}

/* Change the color of the pagination bullets */
.swiper-pagination-bullet {
  background-color: #0000ff !important;
  /* Replace #0000ff with your desired color */
}

/* Change the color of the active pagination bullet */
.swiper-pagination-bullet-active {
  background-color: #ffff00 !important;
  /* Replace #ffff00 with your desired color */
}

.swiper-button-prev:after,
.swiper-button-next:after {
  background: var(--primary);
  padding: 8px 14px;
  border-radius: 100px;
  font-size: 25px !important;
}

#hompagebigslider>div>div.swiper-wrapper>div.swiper-slide.swiper-slide-active {
  width: 60% !important;
}

@media (max-width:991px) {
  #hompagebigslider>div>div.swiper-wrapper>div.swiper-slide.swiper-slide-active {
    width: 100% !important;
    height: 70vh !important;
    margin-top: 0vh !important;
  }
}

#hompagebigslider>div>div.swiper-wrapper>div.swiper-slide.swiper-slide-active .paragraph {
  display: block !important;
}

#hompagebigslider>div>div.swiper-wrapper>div.swiper-slide.swiper-slide-active h1 {
  font-size: 2.5rem !important;
}

.ant-drawer .ant-drawer-body {
  padding: 0 !important
}

/* Megamenu css */

.auto-columns {
  width: 100%;
  padding: 1rem;
  overflow: hidden;
  /* No vertical scrollbar */

}

.content {
  column-count: 4;
  /* Default number of columns */
  column-gap: 20px;
  /* Space between columns */
  height: 100%;
}

.jodit-container .jodit-workplace .jodit-wysiwyg {
  height: 400px !important;

  ul li {
    list-style-type: disc;
    margin-left: 20px !important;
  }

  ol li {
    list-style-type: decimal;

  }
}